<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <!-- Brand -->
        <img
          src="@@webRoot/assets/img/brand.svg"
          alt="..."
          class="footer-brand img-fluid mb-2"
        />

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Operate, Insight, Coach.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a
              href="https://www.instagram.com/swiggedapp/"
              class="text-decoration-none"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="@@webRoot/assets/img/icons/social/instagram.svg"
                class="list-social-icon"
                alt="Instagram"
              />
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a
              href="https://www.facebook.com/pg/SwiggedApp/about/"
              class="text-decoration-none"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="@@webRoot/assets/img/icons/social/facebook.svg"
                class="list-social-icon"
                alt="Facebook"
              />
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a
              href="https://twitter.com/SwiggedApp"
              class="text-decoration-none"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="@@webRoot/assets/img/icons/social/twitter.svg"
                class="list-social-icon"
                alt="Twitter"
              />
            </a>
          </li>
          <li
            class="list-inline-item list-social-item"
            target="_blank"
            rel="noopener noreferrer"
          >
            <a href="https://swigged.slack.com/" class="text-decoration-none">
              <img
                src="@@webRoot/assets/img/icons/social/Slack_Mark.svg"
                class="list-social-icon"
                alt="Slack"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Tools
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="/barkeep.html" class="text-reset">
              Barkeep
            </a>
          </li>
          <li class="mb-3">
            <a href="/whiskeybar.html" class="text-reset">
              Whiskey Bar
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Services
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Cocktail Creation
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Operations & Teaching
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Beverage Knowledge
            </a>
          </li>
          <li>
            <a href="#!" class="text-reset">
              Management Coaching
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Connect
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Learning Resources
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Facebook Community
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Twitter #Hashtag
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Blog
            </a>
          </li>
          <li class="mb-3">
            <a href="https://swigged.slack.com/" class="text-reset">
              Slack
            </a>
          </li>
          <li class="mb-3">
            <a href="#info" class="text-reset">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Legal
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              About
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Advertising
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Privacy
            </a>
          </li>
          <li class="mb-3">
            <a href="/terms-of-service.html" class="text-reset">
              Terms
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</footer>
