<!-- Required meta tags -->
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<title>@@pageTitle</title>
<!-- Short description of the document (limit to 150 characters) -->
<!-- This content *may* be used as a part of search engine results. -->
<meta name="description" content="Create beverages with friends" />
<meta name="theme-color" content="#211a23" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="@@webRoot/assets/favicon/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="@@webRoot/assets/favicon/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="@@webRoot/assets/favicon/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="@@webRoot/assets/favicon/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="@@webRoot/assets/favicon/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="@@webRoot/assets/favicon/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="@@webRoot/assets/favicon/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="@@webRoot/assets/favicon/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="@@webRoot/assets/favicon/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="@@webRoot/assets/favicon/android-icon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="@@webRoot/assets/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="@@webRoot/assets/favicon/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="@@webRoot/assets/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="@@webRoot/assets/favicon/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
  name="msapplication-TileImage"
  content="@@webRoot/assets/favicon/ms-icon-144x144.png"
/>
<meta name="theme-color" content="#ffffff" />

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css" />
<link
  rel="stylesheet"
  href="@@webRoot/node_modules/flickity/dist/flickity.min.css"
/>
<link
  rel="stylesheet"
  href="@@webRoot/node_modules/flickity-fade/flickity-fade.css"
/>
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css" />
<link
  rel="stylesheet"
  href="@@webRoot/node_modules/jarallax/dist/jarallax.css"
/>
<link
  rel="stylesheet"
  href="@@webRoot/node_modules/highlight.js/styles/vs2015.css"
/>
<link
  rel="stylesheet"
  href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css"
/>

<!-- Map -->
<link
rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"

/>

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" />
<!-- endbuild -->
