<!-- SignUpModalV.tsx -->
<!-- Modal -->
<div
  id="modalSignUpVertical"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalSignUpVerticalTitle"
  aria-hidden="true"
>
  <!-- ModalDialog -->
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Card -->
      <div class="card">
        <!-- Button Close -->
        <button
          class="modal-close close text-white"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>

        <!-- Image -->
        <img
          src="@@webRoot/assets/images/photos/photo-7.jpg"
          alt="..."
          class="card-img-top"
        />

        <!-- Shape -->
        <div class="position-relative">
          <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
            @@include("../assets/images/shapes/curves/curve-3.svg")
          </div>
        </div>

        <!-- Card.Body -->
        <div class="card-body">
          <!-- Heading -->
          <h2
            class="mb-0 font-weight-bold text-center"
            id="modalSignUpVerticalTitle"
          >
            Sign Up
          </h2>

          <!-- Text -->
          <p class="mb-6 text-center text-muted">
            We will be emailing you in minutes.
          </p>

          <!-- Form -->
          <form
            class="mb-6"
            name="modalSignUp"
            method="POST"
            data-netlify="true"
          >
            <!-- Form.Group -->
            <div class="form-group">
              <!-- Form.Label -->
              <label class="sr-only" for="registrationFirstNameModal"
                >First name</label
              >
              <!-- Form.Control -->
              <input
                type="text"
                name="firstName"
                class="form-control"
                id="registrationFirstNameModal"
                placeholder="First name"
                required
              />
            </div>

            <!-- Form.Group -->
            <div class="form-group">
              <!-- Form.Label -->
              <label class="sr-only" for="registrationLastNameModal"
                >Last name</label
              >
              <!-- Form.Control -->
              <input
                type="text"
                name="lastName"
                class="form-control"
                id="registrationLastNameModal"
                placeholder="Last name"
                required
              />
            </div>

            <!-- Form.Group -->
            <div class="form-group">
              <!-- Form.Label -->
              <label class="sr-only" for="modalSignUpVerticalEmail">
                Your email
              </label>
              <!-- Form.Control -->
              <input
                type="email"
                name="email"
                class="form-control"
                id="modalSignUpVerticalEmail"
                placeholder="Your email"
                required
              />
            </div>

            <!-- Form.Group -->
            <div class="form-group mb-5">
              <!-- Form.Label -->
              <label class="sr-only" for="modalSignUpVerticalUsername">
                Create a Username
              </label>
              <!-- Form.Control -->
              <input
                type="username"
                name="username"
                class="form-control"
                id="modalSignUpVerticalUsername"
                placeholder="Create a username"
                required
              />
            </div>

            <!-- Button Submit -->
            <button class="btn btn-block btn-primary" type="submit">
              Sign up
            </button>
          </form>

          <!-- Text -->
          <p class="mb-0 font-size-sm text-center text-muted">
            Already have an account?
            <a href="@@webRoot/signin.html">Log in</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
