<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@if(type=='boxed'){container}@@if(type!=='boxed'){container-fluid}">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="Swigged App">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="navbarBarkeep" href="@@webRoot/index.html">
            Barkeep
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="navbarWhiskeyBar" href="@@webRoot/whiskeybar.html">
            Whiskey Bar
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true"
            aria-expanded="false">
            Learn
          </a>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-3.jpg);">

                  <!-- Heading -->
                  <h4 class="font-weight-bold text-white mb-0">
                    Want to see an overview?
                  </h4>

                  <!-- Text -->
                  <p class="font-size-sm text-white">
                    See all the resources at once.
                  </p>

                  <!-- Button -->
                  <a href="#" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                    View all resources
                  </a>

                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Culture
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item mb-5" href="">
                        ?
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Beverages
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item" href="">
                        ?
                      </a>

                    </div>
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Business
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item" href="">
                        ?
                      </a>
                      <a class="dropdown-item" href="">
                        ?
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="@@webRoot/signin-cover.html">
        Login
      </a>

    </div>

  </div>
</nav>
