<div class="collapse d-lg-block" id="sidenavCollapse">
  <div class="py-7 py-lg-9 px-lg-7">

    <!-- Heading -->
    <h6 class="text-uppercase font-weight-bold">
      Dashboard
    </h6>

    <!-- Links -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="@@webRoot/dashboard-teams.html">Teams</a>
      </li>
      <li class="list-item d-flex">
        <a class="list-link" href="@@webRoot/dashboard-cocktails.html">Cocktails</a>
      </li>
      <li class="list-item d-flex">
        <a class="list-link" href="@@webRoot/dashboard-create.html">Create</a>
      </li>
    </ul>

    <!-- Heading -->
    <h6 class="text-uppercase font-weight-bold">
      Tools
    </h6>

    <!-- Links -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="#">Coming Soon</a>
      </li>
    </ul>

    <!-- Heading -->
    <h6 class="text-uppercase font-weight-bold">
      Services
    </h6>

    <!-- Links -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="#">Coming Soon</a>
      </li>
    </ul>


    <!-- Heading -->
    <h6 class="text-uppercase font-weight-bold">
      Connect
    </h6>

    <!-- List -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="@@webRoot/whiskeybar.html">Learn</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://www.facebook.com/pg/SwiggedApp/about/" target="_blank"
          rel="noopener noreferrer">Facebook</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://twitter.com/SwiggedApp" target="_blank" rel="noopener noreferrer">Twitter</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://www.instagram.com/swiggedapp/" target="_blank"
          rel="noopener noreferrer">Instagram</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="https://swigged.slack.com/" target="_blank" rel="noopener noreferrer">Slack</a>
      </li>
    </ul>

    <!-- Heading -->
    <h6 class="text-uppercase font-weight-bold">
      Settings
    </h6>

    <!-- Links -->
    <ul class="list mb-0">
      <li class="list-item">
        <a class="list-link" href="#">General</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="#">Profile</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="#">Billing</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="#">Notifications</a>
      </li>
    </ul>

  </div>
</div>
